asgiref==3.8.1
certifi==2025.6.15
cloudinary==1.44.1
dj-database-url==3.0.1
dj-rest-auth==7.0.1
Django==5.2.4
django-allauth==65.9.0
django-cors-headers==4.7.0
djangorestframework==3.16.0
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
